.popup__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 34px 0 37px;
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    border-radius: 10px;
    width: 430px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 880px) {
    .popup__container {
        max-width: 282px;
        padding: 25px 0 25px;
    }
}