.profile__info {
    display: grid;
    grid-template-columns: minmax(189px, 294px) minmax(18px, 24px);
    gap: 16px 18px;
}

@media screen and (max-width: 880px) {
    .profile__info {
        grid-row: 2;
        gap: 14px 10px;
        margin: 0 auto;
        padding: 22px 0 36px;
        max-width: 217px;
    }
}