.header__container {
    max-width: 880px;
    margin: 0 auto;
    min-height: 74px;
    padding-top: 45px;
    border-bottom: 1px solid rgba(54, 54, 54, .7);
}

@media screen and (max-width: 880px) {
    .header__container {
        max-width: 580px;
    }
}

@media screen and (max-width: 580px) {
    .header__container {
        max-width: 100%;
        min-height: 56px;
        padding-top: 28px;
    }
}