.card__like {
    background-image: url('../../../images/heart.png');
    background-size: cover;
    background-position: center;
    border: none;
    outline: none;
    background-color: transparent;
    width: 20px;
    height: 18px;
    cursor: pointer;
}

.card__like:hover {
    opacity: .5;
}

.card__like:focus {
    background-image: url('../../../images/favoriteActive.png');
}

